<style>
ul {
  display: flex;
  list-style-type: None;
}

ul li {
  margin-left: 15%
}

#meta {
  margin: 10px;
  display: flex;
}

#name {
  margin: 10px;
  margin-right: 80%;
}

#date {
  margin: 10px
}

#body {
  margin: 10px;
}

#body a {
  margin-left: 90%
}

td {
  text-align: center;
}

#toprow {
	display: flex;
	margin: 10px
}
</style>

<div id="toprow">
	<a href="/"><h1>SITENAME</h1></a>
	<a href="/login">Login/Logout</a>
</div>

{% block content %}
{% endblock %}

