{% extends "base.html" %}
{% block content %}
<form action='/login/post' method="post">
	<p>Username: <input type="text" name="username"></p>
	<p>Password: <input type="password" name="password"></p>
	<p><button type="submit">Login/Register</button></p>
</form>
{% endblock %}
