{% extends "base.html" %}
{% block content %}
<form action="/post/post" method="post">
	<ul>
		<li>Title: <input type="text" name="title"></li>
		<li>Category: <input type="text" name="category"></li>
		<li>Content: <input type="text" name="content"></li>
		<li><button type="submit">Create</button></li>
	</ul>
</form>
{% endblock %}
